apiVersion: v1
kind: ConfigMap
metadata:
  name: nats-bao-agent-config
data:
  agent.hcl: |
    exit_after_auth = false
    pid_file       = "/home/bao/nats/pidfile"

    vault {
      address = "https://openbao.openbao.svc.cluster.local:8200"
      tls_ca_file = "/etc/bao/ca/ca.crt"
      tls_skip_verify = true
      retry {
        num_retries = 5
        initial_backoff = "5s"
        max_backoff = "30s"
      }
    }

    auto_auth {
      method "approle" {
        mount_path = "auth/approle"
        config = {
          role_id_file_path        = "/etc/bao/nats/role-id"
          secret_id_file_path      = "/etc/bao/nats/secret-id"
          remove_secret_id_file_after_reading = false 
          secret_id_refresh_interval = "10s"
        }
      }

      sink "file" {
        config = {
          path = "/home/bao/nats/token"
          mode = 0640
        }
      }
    }

    cache {
      persist = {
        type = "kubernetes"
        path = "/home/bao/nats/cache"
      }
    }

    listener "tcp" {
      address     = "0.0.0.0:8101"
      tls_disable = true
    }
    
    api_proxy {
      use_auto_auth_token = true
    }

    telemetry {
      prometheus_retention_time = "10m"
      disable_hostname = true
    }

    log_level = "info"
    log_format = "json"
