apiVersion: v1
kind: ConfigMap
metadata:
  name: watcher-config
  namespace: nats
data:
  serviceId: "watcher"
  environment: "testing"
      
  natsUseTLS: "true"
  natsUrl: "tls://nats.nats.svc.cluster.local:4222"
  tlsSecret: "watcher-tls-credential"
  caCertFilePath: "/app/certs/nats-ca-certs/ca.crt"
  clientCertPath: "/app/certs/nats-client-certs/"
     
  # Vault Agent Attributes
  vaultAgentHost:    "127.0.0.1"
  secretIDRotationMs: "300000"

  # Nats Vault Agent
  natsAgentAddr:         "http://127.0.0.1:8101"
  natsAgentPort:         "8101"
  natsAppRoleSecretName: "nats-bao-approle"
  natsAppRoleName:       "nats"
  natsAgentTokenPath:    "/home/bao/nats/token"

  # Watcher Vault Agent
  watcherAgentAddr:         "http://127.0.0.1:8000"
  watcherAgentPort:         "8100"
  watcherAppRoleSecretName: "watcher-bao-approle"
  watcherAppRoleName:       "watcher"
  watcherAgentTokenPath:    "/home/bao/watcher/token"
 
