apiVersion: v1
kind: ConfigMap
metadata:
  name: watcher-config
  namespace: nats
data:
  watcherConfig.json: |
    {
      "kubeClusterName": "servers",
      "serviceId": "watcher",
      "environment": "testing",
      
      "nats": {
        "natsUseTLS": "true",
        "natsUrl": "tls://nats.nats.svc.cluster.local:4222",
        "tlsSecret": "watcher-nats-credential",
        "caCertFilePath": "/app/certs/nats/ca.crt",
        "clientCertPath": "/app/certs/nats-client/"
      },
      
      "vault": {
        "vaultagentAddr": "http://127.0.0.1:8100",
        "vaultAgentHost": "127.0.0.1",
        "vaultAgentPort": "8100",
        "appRoleSecretName": "watcher-bao-approle",
        "appRoleName": "watcher",
        "appRoleTokenPath": "/home/bao/watcher/token"
      },
      
      "certificateRotation": {
        "watchStreams": ["METADATA_BUNDLE_PUSH", "METADATA_BUNDLE_PULL"],
        "watchSubjects": ["metadata.bundle-push.>", "metadata.bundle-pull.>"],
        "rotationCheckIntervalMinutes": 5,
        "preRotationWarningMinutes": 30
      }
    }
