apiVersion: v1
kind: Service
metadata:
  name: metadata-service
  namespace: metadata
  labels:
    app: metadata
spec:
  selector:
    app: metadata
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  type: ClusterIP
