---
apiVersion: v1
kind: Service
metadata:
  name: svc-gatekeeper
  namespace: gatekeeper
  labels:
    app: svc-gatekeeper
    component: service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: svc-gatekeeper
