---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: svc-gatekeeper
  namespace: gatekeeper
rules:
- apiGroups: [""]
  resources: ["secrets", "configmaps"]
  verbs: ["get", "list", "watch", "create", "update", "patch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch", "update", "patch"]
- apiGroups: ["cert-manager.io"]
  resources: ["certificates", "issuers", "clusterissuers"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: svc-gatekeeper
  namespace: gatekeeper
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: svc-gatekeeper
subjects:
- kind: ServiceAccount
  name: svc-gatekeeper
  namespace: gatekeeper
